aiosmtpd
alembic
atpublic
attrs
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
packaging
pillow
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
