<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=review.author.username) }}">
                <img class="avatar" src="{{ review.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            <a class="profile-link" href="{{ url_for('user', username=review.author.username) }}">
                {{ review.author.full_name }}
            </a>
            <br>
            Оценка: {{ review.rate }} <br>
            {{ review.comment }}
            {% if review.author == current_user %}
            <br>
            <a href="{{ url_for('page', id=review.page_id, delete=review.id) }}">
                Удалить отзыв
            </a>
            {% endif %}
            <div class="date-footer">Оставил(а) отзыв {{ moment(review.timestamp).fromNow() }}</div>
        </td>
    </tr>
</table>