{% extends "base.html" %}

{% block content %}
    <h1>Редактирование профиля</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(rows=8, cols=32) }}<br>
            {% for error in form.about.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.subjects.label }}<br>
            {{ form.subjects }}<br>
            {% for error in form.subjects.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.educational_institution.label }}<br>
            {{ form.educational_institution }}<br>
            {% for error in form.educational_institution.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}