{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<h1>Поиск статей</h1>
<table class="table">
    <tr valign="top">
        <td>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.search) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.form_field(form.grades, False) }}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(form.subjects, False) }}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(form.types_of_work, False) }}
                    </div>
                </div>
                <a href="{{ url_for('explore') }}">Сбросить фильтры</a>
                {{ wtf.form_field(form.submit, False) }}
            </form>
        </td>
    </tr>
</table>
{% if posts %}
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% else %}
<h1>Статьи, соответствующие текущим фильтрам, не найдены</h1>
{% endif %}
<nav aria-label="Навигация">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
                <span aria-hidden="true">&larr;</span> Новые посты
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
                Старые посты <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
{% block styles %}
    {{ super() }}
    
{% endblock %}

